<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>365522451323-8o9p2l8dhcb7k4ffs7le7pto73ph54h7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.365522451323-8o9p2l8dhcb7k4ffs7le7pto73ph54h7</string>
	<key>API_KEY</key>
	<string>AIzaSyDCmonuyTJDXuwsWKji8vmENY0QK2DhtM0</string>
	<key>GCM_SENDER_ID</key>
	<string>365522451323</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>sa.Instagram</string>
	<key>PROJECT_ID</key>
	<string>instagram-9991e</string>
	<key>STORAGE_BUCKET</key>
	<string>instagram-9991e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:365522451323:ios:e673cc98d7a1af3c</string>
	<key>DATABASE_URL</key>
	<string>https://instagram-9991e.firebaseio.com</string>
</dict>
</plist>